name: CI
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}
jobs:
  commits:
    name: Commits
    if: ${{ github.ref != 'refs/heads/master' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: JohnnyMorganz/stylua-action@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          version: latest
          args: --config-path .stylua.toml ./lua ./spec
      - uses: mrcjkb/lua-typecheck-action@v0
        with:
          directories: lua
          configpath: ".luarc.json"
      - uses: cargo-bins/cargo-binstall@main
      - name: Selene
        run: |
          cargo binstall --no-confirm selene
          selene --config selene.toml ./lua
      - name: Install commons.nvim
        if: ${{ github.ref != 'refs/heads/master' }}
        shell: bash
        run: |
          echo "pwd"
          echo $PWD
          git clone --depth=1 https://github.com/linrongbin16/commons.nvim.git ~/.commons.nvim
          rm -rf ./lua/gitlinker/commons
          mkdir -p ./lua/gitlinker/commons
          cp -rf ~/.commons.nvim/lua/commons/*.lua ./lua/gitlinker/commons
          cp ~/.commons.nvim/version.txt ./lua/gitlinker/commons/version.txt
          cd ./lua/gitlinker/commons
          find . -type f -name '*.lua' -exec sed -i 's/require("commons/require("gitlinker.commons/g' {} \;
      - name: Install giturlparser.lua
        if: ${{ github.ref != 'refs/heads/master' }}
        shell: bash
        run: |
          echo "pwd"
          echo $PWD
          git clone --depth=1 https://github.com/linrongbin16/giturlparser.lua.git ~/.giturlparser.lua
          cp ~/.giturlparser.lua/src/giturlparser.lua ./lua/gitlinker/giturlparser.lua
      - uses: stefanzweifel/git-auto-commit-action@v4
        if: ${{ github.ref != 'refs/heads/master' }}
        with:
          commit_message: "chore(pr): auto-commit"
  unit_test:
    name: Unit Test
    needs:
      - lint
    strategy:
      matrix:
        nvim_version: [stable, nightly, v0.9.0]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: rhysd/action-setup-vim@v1
        id: vim
        with:
          neovim: true
          version: ${{ matrix.nvim_version }}
      - uses: leafo/gh-actions-lua@v10
        with:
          # luaVersion: "luajit-2.1.0-beta3"
          luaVersion: "luajit-openresty"
      - uses: leafo/gh-actions-luarocks@v4
      - name: Run Test Cases
        shell: bash
        run: |
          luarocks install vusted
          vusted ./spec
  code_coverage:
    name: Code Coverage
    needs:
      - lint
    strategy:
      matrix:
        nvim_version: [stable]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: rhysd/action-setup-vim@v1
        id: vim
        with:
          neovim: true
          version: ${{ matrix.nvim_version }}
      - uses: leafo/gh-actions-lua@v10
        with:
          # luaVersion: "luajit-2.1.0-beta3"
          luaVersion: "luajit-openresty"
      - uses: leafo/gh-actions-luarocks@v4
      - name: Generate Coverage Reports
        shell: bash
        run: |
          luarocks install luacov
          luarocks install vusted
          vusted --coverage ./spec
      - name: Upload Coverage Reports
        shell: bash
        run: |
          echo "ls ."
          ls -l .
          echo "run luacov"
          luacov
          echo "ls ."
          ls -l .
          echo "cat ./luacov.report.out"
          cat ./luacov.report.out
      - uses: codecov/codecov-action@v3
        with:
          files: luacov.report.out
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  release:
    name: Release
    if: ${{ github.ref == 'refs/heads/master' }}
    needs:
      - unit_test
      - code_coverage
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          release-type: simple
          package-name: gitlinker.nvim
      - uses: actions/checkout@v4
      - uses: nvim-neorocks/luarocks-tag-release@v5
        if: ${{ steps.release.outputs.release_created }}
        env:
          LUAROCKS_API_KEY: ${{ secrets.LUAROCKS_API_KEY }}
        with:
          version: ${{ steps.release.outputs.tag_name }}
